<% if (typeof activeTags !== 'undefined') { %>
<script>
    activeTagsString = "<%= activeTags %>"
    current = "<%= pageNum %>"
    maxPages = "<%= maxPages %>"
</script>
<% } %>
<script src="factoids.js" defer></script>

<section class="container-xl">
    <br>

    <div class="input-group mb-5 mt-3">
        <input class="form-control" type="text" placeholder="Look up a fact by text..." id="searchBarText" />
        <button class="btn btn-primary" type="button" id="search-by-text-btn">
            Search
        </button>
    </div>

    <div id="tags" class="mb-3"></div>

    <div class="dropdown mb-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <% tags.forEach((tag) => { %>
            <li class="ddtag dropdown-item" id="<%= tag.name %>"><%= tag.name %></li>
            <% })%>
        </ul>
    </div>

    <!-- Factoids Section -->
    <div id="factoids" class="container accordion p-0">
        <% if (typeof factoids !== 'undefined') { %>
        <% factoids.forEach((factoid) => { %>
        <%- include('../partials/fact', { factoid, accordionParent: '#factoids' }) %>
        <% }) %>
        <% } %>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center" style="background-color: rgb(111, 185, 185)" id="pages">
            <li class="page-item" id="prev">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" id="next">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>