<div class="fact accordion-item mb-3">
    <h2 class="accordion-header" id="heading-<%= typeof rand !== 'undefined' ? rand: factoid.id %>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= typeof rand !== 'undefined' ? rand: factoid.id %>" aria-expanded="true" aria-controls="collapse-<%= typeof rand !== 'undefined' ? rand: factoid.id %>">
            <%- factoid.content %>
            <% if (user?.isAdmin && !factoid.is_approved) { %>
            <span class="text-warning text-right" style="margin-left: 50px;">Pending</span>
            <% } %>
        </button>
    </h2>

    <div id="collapse-<%= typeof rand !== 'undefined' ? rand: factoid.id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= typeof rand !== 'undefined' ? rand: factoid.id %>" <% if(typeof accordionParent !== 'undefined') { %> data-bs-parent="<%= accordionParent %>" <% } %>>
        <div class="accordion-body">
            <% if (factoid.note) { %>
                <div style="white-space: pre-wrap"><%= factoid.note %></div>
                <br>
            <% } %>

            <% if (factoid.attachments) {
                const order = ['image', 'youtube', 'audio', 'website']
                let sortedAttachments = factoid.attachments.sort((t1, t2) => { return order.indexOf(t1.type) - order.indexOf(t2.type) })
                sortedAttachments.forEach(att => {
                    switch (att.type) { 
                        case 'image': %>
                            <img src="/uploads/<%= att.link %>" style="width: 50%; height: 50%">
                            <br>
                            <br>

                        <% break;

                        case 'audio': %>
                            <audio controls><source src="/uploads/<%= att.link %>"></audio>
                            <br>
                            <br>
                            <% break;

                        case 'youtube': 
                            const embedLink = att.link.replace('watch?v=', 'embed/') %>
                            <iframe width="50%" height="50%" src="<%=embedLink%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <br>
                            <br>
                            <% break;
                        
                        case 'website': %>
                            <a href="<%= att.link %>" style="display: block">Note.</a>
                            <br>
                            <% break;
                    }
                })
            } else { %>
                <br>
            <%  } %>

            <div><b>Posted On:</b> <%= new Date(factoid.posting_date).toUTCString() %></div>
            <div><b>By:</b> <%= factoid.submitter_id === 'zzz3737' ? `${factoid.submitter_id} (Anonymous)` : factoid.submitter_id %></div>
            
            <div class="mt-1">
                <% factoid.tags.forEach((tag) => { %>
                <a href="/facts?tag=<%= tag.name %>" class="badge rounded-pill bg-primary text-decoration-none">
                    <%= tag.name %>
                </a>
                <% }) %>
            </div>

            <!-- Report Modal Button -->
            <button type="button" class="btn btn-primary mt-3 mb-1" data-bs-toggle="modal" data-bs-target="#reportModal-<%= factoid.id %>">Report</button>
            <% if (typeof isAdmin !== 'undefined' && isAdmin) { %>
            <a class="btn btn-primary mb-3" id="edit-fact-<%= factoid.id %>" href="/edit-fact/<%= factoid.id %>">Edit</a>
            <% } %>
        </div>
    </div>

    <!-- Report Modal -->
    <div class="modal fade" id="reportModal-<%= factoid.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="reportModalLabel">Report an issue with this fact</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/api/report" method="POST">
                    <div class="modal-body">
                        <div class="text-start mb-3">
                            <label for="issueTextarea" class="form-label">Please describe the issue.</label>
                            <textarea class="form-control" id="issueTextarea" rows="3" name="issue"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="fact[id]" value="<%= factoid.id %>" />
                    <input type="hidden" name="fact[content]" value="<%= factoid.content %>" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>