<% if (typeof activeTags !== 'undefined') { %>
<script>
    activeTagsString = "<%= activeTags %>"
    current = "<%= pageNum %>"
    maxPages = "<%= maxPages %>"
</script>
<% } %>
<script src="/js/factoids.js" defer></script>

<section class="container-xl px-0">
    <h3>Search and Filter</h3>
    <p>Enter a prompt and/or select tag(s), then click on the search button.</p>
    <form class="col mb-3" id="search-form">
        <div class="row gy-2 justify-content-between">
            <div class="col-md-6">
                <div class="input-group items-stretch">
                    <input class="form-control" type="text" placeholder="Look up a fact by text..." id="searchBarText" value="<%= searchText %>" />
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle rounded-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Tags
                        </button>
                        <ul class="dropdown-menu">
                            <% tags.forEach((tag) => { %>
                            <li class="37-dropdown-tag dropdown-item" id="<%= tag.name %>"><%= tag.name %></li>
                            <% })%>
                        </ul>
                    </div>
                    <button class="btn btn-primary" type="button" id="search-by-text-btn">
                        <i class="bi bi-search"></i>
                        Search
                    </button>
                </div>
            </div>
            <div class="col-md-6 d-flex flex-row gap-2 justify-content-end align-items-center">
                <label for="page-size-select" class="d-inline">Page Size</label>
                <select class="form-select d-inline" aria-label="Page size" id="page-size-select" style="width: min-content;">
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="37">37</option>
                </select>
            </div>
        </div>
    </form>

    <div id="tags" class="mb-3"></div>



    <br>
    <!-- Factoids Section -->
    <h3>Facts</h3>
    <div id="factoids" class="container accordion p-0">
        <% if (typeof factoids !== 'undefined') { %>
        <% factoids.forEach((factoid) => { %>
        <%- include('../partials/fact', { factoid, accordionParent: '#factoids' }) %>
        <% }) %>
        <% } %>
    </div>

    <nav aria-label="Fact Pagination" <%= maxPages == 1 ? 'hidden' : ''%>>
        <ul class="pagination d-flex justify-content-center pb-5" id="pages">
            <li class="page-item" id="prev">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" id="next">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
