<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
    <% if (user) { %>
        <p><b>Email:</b> <%= user.email %></p>
        <p></p><b>ID:</b> <%= user.id %></p>
    <% } else { %>
        <span>Not Logged In</span>
    <% } %>
    
</main>

<%- include('../partials/footer'); %>