<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>
<link rel="stylesheet" href="/admin-dashboard.css" />

<main>
    <%- include("../partials/flash") %>
    <h1 class="text-center my-5">Welcome back, <%= adminName %></h1>

    <div class="container mb-3 ps-0">
        <h3>Pending Fact Submissions</h3>
    </div>

    <div id="dashboard" class="container text-center">
        <div class="row text-start fw-bold text-wrap">
            <div class="col mt-3">
                <p>Date Submitted</p>
            </div>
            <div class="col mt-3">
                <p>User</p>
            </div>
            <div class="col mt-3">
                <p>Fact</p>
            </div>
            <div class="col mt-3">
                <p>Note</p>
            </div>
            <div class="col mt-3">
                <p>Tags</p>
            </div>
            <div class="col mt-3"></div>
        </div>

        <hr />

        <% if (submissions.length > 0) {
            submissions.forEach(function (submission) { %>
        <div class="row text-start text-wrap pb-4">
            <div class="col"><%= submission.posting_date %></div>
            <div class="col"><%= submission.submitter_id %></div>
            <div class="col"><%= submission.content %></div>
            <div class="col"><%= submission.note %></div>
            <div class="col"><%= submission.taglist.join(', ') %></div>
            <div class="col">
                <button type="button" class="btn btn-success btn-sm">
                    Approve
                </button>
                <button type="button" class="btn btn-danger btn-sm">
                    Delete
                </button>
                <button type="button" class="btn btn-warning btn-sm">
                    Edit
                </button>
            </div>
        </div>
        <% });
        } %>
    </div>

    <div class="container mt-5 mb-3 ps-0">
        <h3>Create a New Tag</h3>
    </div>

    <div class="container mb-3 ps-0">
        <!-- Change here for tag creation -->
        <form action="/api/tag?_method=PUT" method="POST">
            <div class="row text-start">
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Tag name" name="tagName" aria-label="Tag name" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn">
                        Create Tag
                    </button>
                </div>
            </div>
            <div>
                <input type="checkbox" id="isPrimary" class="form-check-input" name="isPrimary" />
                <label for="isPrimary">Is it a primary tag?</label>
            </div>
        </form>
    </div>

    <div class="container mt-5 mb-3 ps-0">
        <h3>Existing Tags</h3>

        <div id="tags-dashboard" class="container text-center">
            <div class="row text-start fw-bold text-wrap bg-light">
                <div class="col mt-3">
                    <p>Tag Name</p>
                </div>
                <div class="col mt-3">
                    <p>Primary Tag (Category)</p>
                </div>
                <div class="col mt-3"></div>
            </div>

            <hr />

            <div id="tags-list">
                <% if (tags.length> 0) {
                    tags.forEach(function (tag) { %>
                <div class="row text-start text-wrap pb-4 bg-light">
                    <div class="col">
                        <%= tag.name %>
                    </div>
                    <div class="col">
                        <%= tag.is_primary %>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        <button type="button" class="btn btn-warning btn-sm">Edit</button>
                    </div>
                </div>
                <% });
                } %>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer'); %>