<%- include('../partials/header'); %>
<%- include('../partials/navbar'); %>

<main class="container-xl mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Update Fact <%= fact.id %></h2>

            <!-- submission form -->
            <form id="submission-form" method="POST" data-fact-id="<%= fact.id %>">
                <div class="mb-3">
                    <label for="text-line" class="form-label">Fact:</label>
                    <input type="text" class="form-control" id="text-line" name="content" value="<%= fact.content %>" required>
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Note:</label>
                    <textarea class="form-control" id="note" name="note" rows="3"><%= fact.note %></textarea>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Discovery Date:</label>
                    <input type="date" class="form-control" id="discovery-date" name="discovery_date" value="<%= fact.discovery_date.split(' ')[0] %>">
                </div>
                <div class="mb-3">
                    <label for="tags" class="form-label">Tags:</label>
                    <div id="tags-container">
                        <% tags.forEach((tag) => { %>
                        <span class="badge rounded-pill tag-selectable <%= fact.tags.some(factTag => factTag.name === tag.name) ? 'bg-primary' : 'bg-secondary' %>" data-tag="<%= tag.name %>"><%= tag.name %></span>
                        <% }) %>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Fact</button>
                <button type="button" id="delete-button" class="btn btn-danger">Delete Fact</button>
            </form>
        </div>
    </div>
</main>

<%- include('../partials/footer'); %>

<script src="/js/edit-factoid.js" defer></script>