<!-- This file serves as a basic example of how to use EJS for templating -->
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); %>
    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/navbar'); %>

        <main class="container-xl">
            <div class="jumbotron">
                <!-- Pass in { injectedVal: x } to render to see x output below -->
                <p><%= injectedVal %></p>
            </div>

            <ol id="people">
                <!-- forEach loop over an array of data -->
                <% ["George", "Sal", "Janice"].forEach(name => { %>
                <li><%= name %></li>
                <% }) %>
            </ol>

            <ul id="numbers">
                <!-- Simple for loop to demonstrate regular for loop -->
                <% for( let index = 1; index <= 20; index++ ) { %>
                <li>Item #<%- index %></li>
                <% } %>
            </ul>
        </main>

        <%- include('../partials/footer'); %>
    </body>
</html>
