<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl mt-5">
    <%- include("../partials/flash") %>
    <%- include('../partials/fact-list') %>
</main>

<%- include('../partials/footer'); %>