<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
  <br>

  <div class="input-group">
    <input 
      class="form-control" 
      type="text" 
      placeholder="Look up a fact by text..." 
    />
    <button 
      class="btn btn-outline-secondary" 
      type="button" 
      id="search-by-text-btn"
    >
      Search
    </button>
  </div>
  <br>

  <!-- Factoids Section -->
  <div id="factoids" class="container mb-3 ps-0">
    <% for (let i=0; i < 10; i++) { %>
      <div class="accordion" id="fact-<%= i %>">
        <%- include('../partials/fact', { factoid, accordionParent: '#fact-' + i }); %>
      </div>
      <% factoid.id = i; %>
    <% } %>
  </div>

</main>

<%- include('../partials/footer'); %>
