<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
  <%- include("../partials/flash") %>
  <div class="input-group mb-5 mt-3">
    <input 
      class="form-control" 
      type="text" 
      placeholder="Look up a fact by text..." 
    />
    <button 
      class="btn btn-outline-secondary" 
      type="button" 
      id="search-by-text-btn"
    >
      Search
    </button>
  </div>

  <!-- Factoids Section -->
  <div id="factoids" class="container accordion ps-0">
    <% for (let i=0; i < 10; i++) { %>
      <%- include('../partials/fact', { factoid, accordionParent: '#factoids' }); %>
      <% factoid.id = i; %>
    <% } %>
  </div>

</main>

<%- include('../partials/footer'); %>
