<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
    <%- include("../partials/flash") %>
    <div class="jumbotron text-center mb-5">
        <h1 class="p-5">Welcome to 37 Heaven!</h1>
        <div class="accordion" id="fact-of-the-day">
        <% if (typeof factoid !== 'undefined') { %>
            <%- include('../partials/fact.ejs', { factoid, accordionParent:
            '#fact-of-the-day', rand: "rand" }); %>
        <% } %>
        </div>
    </div>
    <%- include('../partials/fact-list') %>
</main>

<%- include('../partials/footer'); %>