<%- include('../partials/header'); %> <%- include('../partials/navbar'); %>

<main class="container-xl">
    <%- include("../partials/flash") %>
    <h1 class="text-center p-5">Welcome to <span id="thirty-seven" role="button">37</span> Heaven!</h1>
    <h3>Random Fact</h3>
    <div class="jumbotron mb-5">
        <div class="accordion" id="fact-of-the-day">
        <% if (typeof factoid !== 'undefined') { %>
            <%- include('../partials/fact.ejs', { factoid, accordionParent:
            '#fact-of-the-day', rand: "rand" }); %>
        <% } %>
        </div>
    </div>
    <%- include('../partials/fact-list') %>
</main>

<script src="/js/landing.js" defer></script>
<%- include('../partials/footer'); %>